*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;

}

@font-face{
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}
/* estilo.css */

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

[wm-flappy]{
    position: relative;
    border: .5rem solid dodgerblue;
    height: 80%;
    width: 90%;
    max-width: 90%;
    margin: 15px;
    background:linear-gradient(45deg, #a5e1f5 25%, #049dcf) ;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 6rem;
    left: calc(50% - 3rem);
    z-index: 10;
}

.par-de-barreiras{
    position: absolute;
    top: 0;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
}

.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda{
    height: 3rem;
    width: 13rem;
    background: linear-gradient(90deg,#a5e82e, #639301);
    border: .2rem solid #304605
}

.barreira .corpo{
    height: 15rem;
    width: 11rem;
    background: linear-gradient(90deg,#a5e82e, #639301);
    border-left:  .2rem solid #304605;
    border-right: .2rem solid #304605;
} 

.chao{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2rem;
    width: 100%;
}

.fundo{
    position: absolute;
    bottom: 2rem;
    width: 50%;
    z-index: 8;
}

.fundo:nth-of-type(1){
    left: 50%;
}

.sol{
    position: absolute;
    z-index: 7;
    width: 30rem;
    top: 30%;
}

.progresso{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: 'Pixel';
    font-size: 7rem;
    z-index: 10 ;
}

.chao2{
    position: absolute;
    bottom: 0px;
    left: 23.7rem;
    height: 20px;
}
.chao3{
    position: absolute;
    bottom: 0px;
    left: 47.5rem;
    height: 20px;
}
.chao4{
    position: absolute;
    bottom: 0px;
    left: 71.2rem;
    height: 20px;
}
.chao5{
    position: absolute;
    bottom: 0px;
    left: 94.5rem;
    height: 20px;
}


/* ================== MODALS ================== */
#fade{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    z-index: 15;
    pointer-events: none;
    padding: 1.5rem;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0D262D;
    border: .3rem solid #049dcf;
    padding: 1.5rem;
    z-index: 20;

}

#modal-replay{
    min-width: 500px;
}

.modal-header, .modal-body{
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #049dcf;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.modal-header h1{
    color: #fee500;
    margin: 0;
    letter-spacing: 2px;
    font-size: 3rem;
}

.modal-button{
    padding: .5rem 1.7rem;
    margin: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #ddb811;
    color: #fff;
    font-family: 'Pixel';
    text-transform: uppercase;
    font-size: 2rem;
    pointer-events: all;
    transition: all 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
}

.modal-button i{
    font-size: 1.9rem;
    margin-left: 1rem;
}

.modal-button:hover{
    opacity: 1;
    transform: scale(1.2);
}

#modal-play.hiden, #fade.hiden{
    opacity: 0;
}
#modal-replay{
    opacity: 0;
}
#modal-replay.hiden{
    opacity: 1;
}

/* ==================== MEDIA ==================== */
@media(max-width: 768px){
    @media screen and (orientation: portrait) {
        .conteudo{
            justify-content: center;
            overflow: hidden;
            padding: 70px;
            background-color: red; /*retirar*/
        }
        
        [wm-flappy]{
            min-width: 90vh;
            min-height: 75vw;
        }

        .sol{
            width: 20rem;
        }

        .passaro{
            width: 4rem;
        }
        

        .barreira .borda{
            height: 2rem;
            width: 8.7rem;
            border: .1rem solid #304605
        }

        .barreira .corpo{
            height: 10rem;
            width: 7.4rem;
            border-left:  .1rem solid #304605;
            border-right: .1rem solid #304605;
        } 

        .progresso{
            font-size: 5rem;
        }



        #fade{
            max-width: 100vh;
            height: 100vw;
            transform-origin: top left;
            transform: rotate(90deg) translateY(-100%);
        }
        
        .modal{
            max-height: 60%;
            transform: translate(-50%, -40%);
            font-size: 1.2rem;
        }
        #modal-replay{
            min-width: 300px;
        }

        .title{
            display: none;
        }
    }

    @media screen and (orientation: landscape) {
        .conteudo{
            justify-content: center;
            font-size: 1.6rem;
            background-color: #fee500;/*retirar*/
        }
        #fade{
            height: 100%;
            width: 100%;
        }
        .title{
            height: 90%;
            display: none;
        }        
    }
}